# Serveur
PORT=3000

# Base de données (URL complète pour Prisma)
DB_URL=mysql://root:password@localhost:3306/tfe_meriton

# Docker / MariaDB
DB_ROOT_PASSWORD=rootpassword
DB_DATABASE=tfe_meriton
DB_USERNAME=user
DB_PASSWORD=password

# JWT
JWT_SECRET=autre_en_prod
JWT_EXPIRES_IN=7d
